<div class="h-screen overflow-hidden relative before:block before:absolute before:bg-black before:h-full before:w-full before:top-0 before:left-0 before:z-10 before:opacity-20">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT0E-JrmMcS44X2czJlYIIFe2BWiVPul4feQw&s"
         class="absolute top-0 left-0 min-h-full ob" alt="image">
    <div class="relative z-20 max-w-screen-lg mx-auto grid grid-cols-12 h-full items-center">
        <div class="col-span-6 col-start-7">

            <p class="text-black font-extrabold text-4xl mb-7">Prepare for excellence! Upload your CV now and let us
                create the perfect interview prep experience for you</p>
            <p class="text-black-600 text-blod">
                Unlock your full potential with our platform! We turn your CV into a tool for interview success, giving
                you the confidence to excel.
            </p>
            <button class="mt-8 text-black uppercase py-4 text-base font-light px-10 border border-black hover:bg-pink-700 hover:bg-opacity-10" (click)="navigateToUpload()">
                Get started
            </button>
        </div>
    </div>
</div>
