.timer-container {
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  display: inline-block;
  position: fixed;
  margin-top:20px;
  margin-left: 20px;
}

.timer {
  width: 100px;
  height: 50px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 24px;
  text-align: center;
  line-height: 50px;
}
.button {
  padding: 10px 20px;
  background-color: #3c8dbc;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-left: 45%;
  margin-bottom: 15px;
}

.button:hover {
  background-color: #337ab7;
}